body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'ambiant';
    margin: 0;
}
#overflow {
    overflow-y: hidden;
}

.scroll {
    overflow-y: auto !important;
}
.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    background: white;
    width: 100vw;
    top: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    .logo-ctn {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        height: 100vh;
        width: 100vw;
    }
    .logo {
        &--left {
            // position: fixed;
       
                img {
                height: 100px;            
            }
        }   
        &--right {
            //  position: fixed;
            img{
                height: 100px;
                margin-left: -17px;
            }
        }
    }
    .hiddenImage {
        position: fixed;
        display: none;
        transition: 2s;
        img {
            opacity: 0.2;
        }
        video {
            // width: 613px;
            // height: 440px;
            object-fit: cover;
            scale: 0;
            border-radius: 15px;
        }
    }
}
.fixed {
    position: fixed;
    transition:  0.25s linear;

}
.bigger {
    animation: bigger 0.5s linear forwards ;
    animation-iteration-count: 1;
}

@keyframes bigger{
    0%{
        width: 1px;
        height: 60px;
        filter: blur(4px);
        -webkit-filter: blur(4px),
    }
    99% {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
     100%{
        width: calc(100vw - 526px);
        height: calc(100vh - 115px);
        margin-left: -105px;
        filter: blur(0px);
        -webkit-filter: blur(0px),
    }
  }

.text {
    &--ctn {
        // height: 100vh;
       
        .text--content {
            width: 51vw;
            text-align: center;
            margin: auto;
            padding-bottom: 100px;
            font-size: 20px;
            line-height: 26px;
            opacity: 1;
            padding-bottom: 800px;
            margin-top: 200px;
            .romie {
                font-family: 'romie';
                font-size: 29px;
                line-height: 40px;
                margin-top: 40px;
            }
            .ambiant{
                font-family: "ambiant";
                font-size: 36px;
                line-height: 40px;
            }
        }
    }
}


.end {
    background-color: rgb(255, 255, 255);
    height: 300px;
}

.logo-sub {
    width: 1px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: all 1s ease;
}

.logo-bigger {
    animation: logobigger 0.7s linear forwards ;
    animation-iteration-count: 1;
    display: block;
}

@keyframes logobigger{
    0%{
        width: 1px;
        filter: blur(4px);
        -webkit-filter: blur(4px),
    }
    99% {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
     100%{
        width: 250px;
        filter: blur(0px);
        -webkit-filter: blur(0px),
    }
  }



.fadeIn  {
    display: block !important;

}
.relative {
    position: relative !important;
    cursor: default !important;
    z-index: 0 !important;
}

.leftmeet {
    top: calc(50% - 50px) !important;
    left: calc(50% - 210px) !important;
    transition: all 1s ease;
}
.rightmeet {
    bottom: calc(50% - 50px) !important;
    right: calc(50% - 240px) !important;
    transition: all 1s ease;
}

.leftseparate {
    top: 30px !important;
left: 30px !important;
transition: all 1s ease;
}

.leftmeetsub {
    left: calc(50% - 303px) !important;
}

.rightmeetsub {
    right: calc(50% - 410px) !important;
}

.footer {
    height: 310px;
    background: #c6c6c6;
    box-shadow: 2px -2px 9px 6px #c6c6c6;
    display: flex;
    justify-content: space-between;
    .col1 {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        line-height: 30px;
        a {
            color: black;
            &:hover {
                color: white !important;
            }
        }
    }
    .col2 {
        padding: 15px;
        font-size: 20px;
        line-height: 30px;
        .joinbtn {
            background: black;
            color: white;
            width: 47px;
            padding: 2px 2px 2px 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 47px;
            &:hover {
                background: white;
                color: black;
            }
        }
    }
    .col3 {
        font-family: 'romie';
        padding: 15px;
        align-self: self-end;
        text-align: right;
    }
}