@font-face {
	font-family: 'ambiant';
	src: url('./assets/fonts/Ambiant-Regular.woff') format('woff');

}

@font-face {
	font-family: 'romie';
	src: url('./assets/fonts/Romie-Regular.otf') format('truetype');
}
